{% if  lavoiserArray is defined %}

    {% for key, value in lavoiserArray %}
        <div id="modalLastException{{ value["view"] }}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">View {{ value["view"] }} - Last Exception</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ value["lastException"]|raw }}</p>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="modalLastStackTrace{{ value["view"] }}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">View {{ value["view"] }} - Last Stack Trace</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ value["lastStackTrace"]|raw }}</p>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->

    {% endfor %}

{% endif %}
