<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Operations portal</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!--     css   -->
    <link rel="stylesheet" href="{{ asset('build/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('build/vendor/font-awesome/css/all.min.css') }}">
{#    <link rel="stylesheet" href="{{ asset('build/vendor/datatables/css/jquery.dataTables.min.css') }}">#}
    <link rel="stylesheet" href="{{ asset("build/css/dataTables.bootstrap4.min.css") }}"/>

    <link rel="stylesheet" href="{{ asset('build/css/global.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <!--             End css -->

    <!--             Javascript -->
    <script type="text/javascript" src="{{ asset('build/vendor/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/vendor/popper.js/umd/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/vendor/datatables/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/vendor/datatables/js/dataTables.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/dataTables.bootstrap4.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('build/js/global.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</head>
<body>

<!-- End Javascript -->

{% block header %}{% endblock %}

{% include 'default/header_bootstrap_4.html.twig' %}

<div class="container-fluid">
    {% block body %}{% endblock %}
</div>

</body>
</html>
