<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE></TITLE>
    <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <META NAME="AUTHOR" CONTENT="S C">
    <META NAME="CREATED" CONTENT="20180322;81600000000000">
    <META NAME="CHANGEDBY" CONTENT="larocca">
    <META NAME="CHANGED" CONTENT="20180322;81600000000000">
    <META NAME="AppVersion" CONTENT="14.0000">
    <META NAME="DocSecurity" CONTENT="0">
    <META NAME="HyperlinksChanged" CONTENT="false">
    <META NAME="LinksUpToDate" CONTENT="false">
    <META NAME="ScaleCrop" CONTENT="false">
    <META NAME="ShareDoc" CONTENT="false">
    <STYLE TYPE="text/css">
    <!--
    @page { margin-left: 1in; margin-right: 1in; margin-top: 1.38in; margin-bottom: 0.59in }
    @page:first { }
    P { margin-bottom: 0.1in; direction: ltr; color: #00000a; line-height: 115%; text-align: justify; widows: 2; orphans: 2 }
    P.western { font-family: "Calibri", serif; font-size: 11pt; so-language: en-GB }
    P.cjk { font-family: "Calibri"; font-size: 11pt; so-language: en-US }
    P.ctl { font-family: "Calibri"; font-size: 11pt; so-language: ar-SA }
    H1 { margin-top: 0.33in; margin-bottom: 0.08in; direction: ltr; color: #0063aa; line-height: 115%; text-align: justify; page-break-inside: avoid; widows: 2; orphans: 2 }
    H1.western { font-family: "Calibri", serif; font-size: 20pt; so-language: en-GB }
    H1.cjk { font-family: "ＭＳ ゴシック"; font-size: 20pt; so-language: en-US }
    H1.ctl { font-family: ; font-size: 14pt; so-language: ar-SA }
    H2 { margin-bottom: 0.04in; direction: ltr; color: #0063aa; line-height: 100%; text-align: justify; page-break-inside: avoid; widows: 0; orphans: 0 }
    H2.western { font-family: "Calibri", serif; font-size: 16pt; so-language: en-GB; font-weight: normal }
    H2.cjk { font-family: "ＭＳ ゴシック"; font-size: 16pt; so-language: en-US; font-weight: normal }
    H2.ctl { font-family: ; font-size: 13pt; so-language: ar-SA }
    P.sdfootnote-western { margin-bottom: 0in; font-family: "Calibri", serif; font-size: 10pt; so-language: en-GB; line-height: 100% }
    P.sdfootnote-cjk { margin-bottom: 0in; font-family: "Calibri"; font-size: 10pt; so-language: en-US; line-height: 100% }
    P.sdfootnote-ctl { margin-bottom: 0in; font-family: "Calibri"; font-size: 10pt; so-language: ar-SA; line-height: 100% }
    A:link { color: #0000ff; so-language: zxx }
    A.sdfootnoteanc { font-size: 57% }
    body {
        counter-reset: footer;
    }
    TABLE{
        width: 100%;
    }

    table td{
        border: 1px solid #00000a;
        padding: 0 0.08in;
        margin: 0;
    }
    table th{
        border: 1px solid #00000a;
        background-color: #95b3d7;

    }
    header {
        position: fixed;
        top: -60px;
        left: 0;
        right: 0;
        height: 50px;

        /** Extra personal styles **/
        background-color: #03a9f4;
        color: white;
        text-align: center;
        line-height: 35px;
    }

    footer {
        position: fixed;
        bottom: -60px;
        left: 0;
        right: 0;
        height: 50px;

        /** Extra personal styles **/
        background-color: #03a9f4;
        color: white;
        text-align: center;
        line-height: 35px;
    }
    .page::before{
        /*counter-increment: footer;*/
        /*content: counter(footer);*/
        content: counter(footer);
        counter-increment: footer;
    }
    -->
</STYLE>
</HEAD>
<header>
    this is an header !
</header>
<BODY LANG="en-GB" TEXT="#00000a" LINK="#0000ff" DIR="LTR">
<div style="text-align: center;">
    <img style="width: 50%; " src="{{ app.request.getSchemeAndHttpHost() ~ asset('images/pluginsla/eosc-hub-hz72dpi.png') }}" alt="eosc-hub-hz72dpi.png">
    {#<img style="text-align: center; margin: auto;" src="{{ absolute_url(asset('images/user.jpg')) }}" alt="{{  absolute_url(asset('images/user.jpg')) }}">#}
</div>
<P CLASS="western"  STYLE="margin-bottom: 0.08in;text-align: center;"><FONT SIZE=6 STYLE="font-size: 22pt"><B>EGI
            VO</B></FONT></P>
<P CLASS="western"  STYLE="margin-bottom: 0.08in;text-align: center;"><FONT SIZE=6 STYLE="font-size: 22pt"><B>SERVICE
            LEVEL AGREEMENT</B></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
    <TABLE WIDTH=441 CELLPADDING=5 CELLSPACING=0>
        <TBODY>
        <TR>
            <TD WIDTH=166 HEIGHT=22 BGCOLOR="#ffffff" STYLE="border-top: 2.50pt solid #000080; border-bottom: none; border-left: none; border-right: none; padding: 0in">
                <P CLASS="western" STYLE="margin-top: 0.08in"><FONT SIZE=2><B>Customer</B></FONT></P>
            </TD>
            <TD WIDTH=255 BGCOLOR="#ffffff" STYLE="border-top: 2.50pt solid #000080; border-bottom: none; border-left: none; border-right: none; padding: 0in">
                <P CLASS="western" ALIGN=LEFT STYLE="margin-top: 0.08in"><FONT FACE="Calibri, serif"><FONT SIZE=2>{{ ticket.customField(10225) }}</FONT></FONT></P>
            </TD>
        </TR>
        <TR>
            <TD WIDTH=166 HEIGHT=24 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P CLASS="western" STYLE="margin-top: 0.08in"><FONT SIZE=2><B>Provider</B></FONT></P>
            </TD>
            <TD WIDTH=255 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P CLASS="western" ALIGN=LEFT STYLE="margin-top: 0.08in"><FONT SIZE=2>EGI
                        Foundation</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD WIDTH=166 HEIGHT=24 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P CLASS="western" ALIGN=LEFT STYLE="margin-top: 0.08in"><FONT SIZE=2><B>First
                            day of service delivery</B></FONT></P>
            </TD>
            <TD WIDTH=255 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P ALIGN=LEFT STYLE="margin-top: 0.08in; page-break-inside: avoid; widows: 0; orphans: 0">
                    <FONT FACE="Arial, serif"><FONT FACE="Calibri, serif"><FONT SIZE=2><SPAN STYLE="font-weight: normal">{{ ticket.created | date('Y-m-d H:i:s') }}</SPAN></FONT></FONT></FONT></P>
            </TD>
        </TR>
        <TR>
            <TD WIDTH=166 HEIGHT=24 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P CLASS="western" STYLE="margin-top: 0.08in"><FONT SIZE=2><B>Last
                            day of service delivery</B></FONT></P>
            </TD>
            <TD WIDTH=255 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P ALIGN=LEFT STYLE="margin-top: 0.08in; page-break-inside: avoid; widows: 0; orphans: 0">
                    <FONT FACE="Arial, serif"><FONT FACE="Calibri, serif"><FONT SIZE=2><SPAN STYLE="font-weight: normal">{{ ticket.updated | date('Y-m-d H:i:s') }}</SPAN></FONT></FONT></FONT></P>
            </TD>
        </TR>
        <TR>
            <TD WIDTH=166 HEIGHT=24 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P CLASS="western" STYLE="margin-top: 0.08in"><FONT SIZE=2><B>Status</B></FONT></P>
            </TD>
            <TD WIDTH=255 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P ALIGN=LEFT STYLE="margin-top: 0.08in; page-break-inside: avoid; widows: 0; orphans: 0">
                    <FONT FACE="Arial, serif"><FONT FACE="Calibri, serif"><FONT SIZE=2><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffff00">[Draft/Final]</SPAN></SPAN></FONT></FONT></FONT></P>
            </TD>
        </TR>
        <TR>
            <TD WIDTH=166 HEIGHT=24 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P><FONT SIZE=2><B>Agreement </B></FONT><FONT SIZE=2><B>finalization
                            date</B></FONT></P>
            </TD>
            <TD WIDTH=255 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P ALIGN=LEFT STYLE="margin-top: 0.08in; page-break-inside: avoid; widows: 0; orphans: 0">
                    <FONT FACE="Arial, serif"><FONT FACE="Calibri, serif"><FONT SIZE=2><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffff00">[date
					of final agreement]</SPAN></SPAN></FONT></FONT></FONT></P>
            </TD>
        </TR>
        <TR>
            <TD WIDTH=166 HEIGHT=24 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P CLASS="western" STYLE="margin-top: 0.08in"><FONT SIZE=2><B>SLA
                            link</B></FONT></P>
            </TD>
            <TD WIDTH=255 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P ALIGN=LEFT STYLE="margin-top: 0.08in; page-break-inside: avoid; widows: 0; orphans: 0">
                    <FONT FACE="Arial, serif"><FONT FACE="Calibri, serif"><FONT SIZE=2><SPAN STYLE="font-weight: normal">{{ ticket.customField(10224) }}</SPAN></FONT></FONT></FONT></P>
            </TD>
        </TR>
        <TR>
            <TD WIDTH=166 HEIGHT=22 BGCOLOR="#ffffff" STYLE="border-bottom: 2.50pt solid #000080; border-left: none; border-right: none; padding: 0in">
                <P STYLE="margin-top: 0.08in"><FONT SIZE=2><B>OLA</B></FONT><FONT SIZE=2><B>
                        </B></FONT><FONT SIZE=2><B>Link</B></FONT></P>
            </TD>
            <TD WIDTH=255 BGCOLOR="#ffffff" STYLE="border-bottom: 2.50pt solid #000080; border-left: none; border-right: none; padding: 0in">
                <P ALIGN=LEFT STYLE="margin-top: 0.08in; page-break-inside: avoid; widows: 0; orphans: 0">
                    <FONT FACE="Arial, serif"><FONT FACE="Calibri, serif"><FONT SIZE=2><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffff00">[link
					to grant in e-grant]</SPAN></SPAN></FONT></FONT></FONT></P>
            </TD>
        </TR>
        </TBODY>
    </TABLE>

<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0.14in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in; page-break-before: always">
    <FONT COLOR="#4f81bd"><B>DOCUMENT LOG</B></FONT></P>
<TABLE  CELLPADDING=7 CELLSPACING=0>
    {#<COL >#}
    {#<COL >#}
    {#<COL >#}
    {#<COL >#}
    <TR VALIGN=TOP>
        <TD  BGCOLOR="#b8cce4" STYLE="border: 1px solid #00000a; padding: 0in 0.08in;">
            <P><I><B>Issue</B></I></P>
        </TD>
        <TD  BGCOLOR="#b8cce4" STYLE="border: 1px solid #00000a; padding: 0in 0.08in;">
            <P><I><B>Date</B></I></P>
        </TD>
        <TD  BGCOLOR="#b8cce4" STYLE="border: 1px solid #00000a; padding: 0in 0.08in;">
            <P><I><B>Comment</B></I></P>
        </TD>
        <TD  BGCOLOR="#b8cce4" STYLE="border: 1px solid #00000a; padding: 0in 0.08in;">
            <P><I><B>Author</B></I></P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD  BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding: 0in 0.08in;">
            <P><BR>
            </P>
        </TD>
        <TD  BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding: 0in 0.08in;">
            <P><BR>
            </P>
        </TD>
        <TD  BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding: 0in 0.08in;">
            <P><BR>
            </P>
        </TD>
        <TD  BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-bottom: 0in"><SPAN LANG="it-IT">Giuseppe La Rocca</SPAN></P>
            <P><SPAN LANG="it-IT">Małgorzata Krakowian</SPAN></P>
        </TD>
    </TR>
</TABLE>
<P LANG="it-IT" CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><FONT COLOR="#4f81bd"><B>TERMINOLOGY</B></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The EGI glossary of
    terms is available at: <FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="HYPERLINK">https://wiki.egi.eu/wiki/Glossary
</A></U></SPAN></FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in">For the purpose of
    this Agreement, the following terms and definitions apply. The key
    words &quot;MUST&quot;, &quot;MUST NOT&quot;, &quot;REQUIRED&quot;,
    &quot;SHALL&quot;, &quot;SHALL NOT&quot;, &quot;SHOULD&quot;, &quot;SHOULD
    NOT&quot;, &quot;RECOMMENDED&quot;, “MAY&quot;, and &quot;OPTIONAL&quot;
    in this document are to be interpreted as described in RFC 2119.
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in; page-break-before: always">
    <FONT COLOR="#0067b1"><FONT SIZE=5 STYLE="font-size: 20pt"><B>Contents</B></FONT></FONT></P>
<DIV ID="Table of Contents1" DIR="LTR">
    <ol>
        <li>The Services</li>
        <li>Service hours and exceptions</li>
        <li>Support
            <ol>
                <li>Incident handling</li>
                <li>Service requests</li>
            </ol>
        </li>
        <li>Service level targets</li>
        <li>Limitations and constraints</li>
        <li>Communication, reporting and escalation
            <ol>
                <li>General communication</li>
                <li>Regular reporting</li>
                <li>Violations</li>
                <li>Escalation and complaints</li>
            </ol>
        </li>
        <li>Information security and data protection</li>
        <li>Responsibilities
            <ol>
                <li>Of the Provider</li>
                <li>Of the Customer</li>
            </ol>
        </li>
        <li>Review, extensions and termination</li>
    </ol>

</DIV>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in; page-break-before: always">
    The present Service Level Agreement (“the Agreement’) is made
    between <B>EGI </B><B>Foundation</B><B> (the Provider)</B> and {{ ticket.customField(10225)}} <B>(the Customer)</B> to define
    the provision and support of the provided services as described
    hereafter. Representatives and contact information are defined in
    Section 6.<B><SPAN STYLE="background: #ffff00"> </SPAN></B>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><B>{{ ticket.description }}</B></P>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The Customer is a
    consortium represented by the <B>{{ ticket.customField(10243) }}</B>.
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in">This Agreement is
    valid from <B>{{ ticket.created  | date('Y-m-d H:i:s')}}</B><B>
    </B>to<B> </B><B>{{ ticket.updated  | date('Y-m-d H:i:s')}}</B>.
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The Agreement was
    discussed and approved by the Customer and the Provider on <B>{{ ticket.updated  | date('Y-m-d H:i:s') }}</B>.</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<OL>
    <LI><H1 CLASS="western"><A NAME="_Toc459031775"></A>The Services</H1>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">All services
    provided by EGI are listed under: <FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://www.egi.eu/services/">https://www.egi.eu/services/</A></U></SPAN></FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in">Possible allocation
    types:</P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">Pledged - Resources are
            exclusively reserved to the Community and the job will be executed
            immediately after submission.</P>
    <LI><P STYLE="margin-bottom: 0.08in">Opportunistic - Resources are
            not exclusively allocated, but subject to local availability.</P>
    <LI><P STYLE="margin-bottom: 0.08in">Time allocation - Resources are
            available in fair share-like mode for a fixed time period.</P>
</UL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">Possible payment
    mode offer:</P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">Sponsored - Model where the
            customer uses services that are funded, or co-funded, by the
            European Commission or government grants.</P>
    <LI><P STYLE="margin-bottom: 0.08in">Pay-per-use - Model where
            customer directly pay for the service used.</P>
</UL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The Services are
    defined by the following properties:</P>

{% for so,row in result %}
    {#<h2 class="card card-header mb-4 bg-dark text-white text-center">{{ so }}</h2>#}
    <div class="mb-4 card">
        <div class="card-body">

            {% if row['data']['access_type'] is defined %}
                <p>access_type : {{ row['data']['access_type']['value'] }}</p>
            {% endif %}
            {% if row['data']['requirements'] is defined %}
                <p>Requirements : {{ row['data']['requirements']['value'] }}</p>
            {% endif %}

            {% for serviceType in row['serviceType'] %}
                {% if loop.first %}
                    <p>Service Area : {{ serviceType }}</p>
                {% elseif loop.last %}
                    <p>ServiceOption : {{ serviceType }}</p>
                {% else %}
                    <p>Service : {{ serviceType }}</p>
                {% endif %}
            {% endfor %}

            {% if row | length > 2 %}
                <div class="row mt-4">
                    <table CELLSPACING=0>
                        <thead>
                        <tr>
                            <td>Demande</td>
                            <td>Value</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for clef,value in row['data'] %}
                            {% if clef != 'start' and clef != 'NumberOfDays'  and clef != 'access_type'  and clef != 'requirements' %}
                                <tr>
                                    <td>{{ clef }}</td>
                                    <td><span class="badge badge-info">{{ value['value'] }}</span></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if row['soProvideur'] is not empty %}
                    <table CELLSPACING=0 style="margin-top: 25px;">
                        <thead>
                        <tr>
                            <th>Resource center/Contact</th>
                            <th>Resources Cloud</th>
                            <th>Start/End</th>
                            <th>Ava/Rel</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for provideur in row['soProvideur'] %}
                            <tr>
                                <td>
                                    {{ provideur.provideur }}<br>
                                    {{ provideur.mail }}
                                </td>
                                <td>
                                    {% for clef,value in row['data'] %}
                                        {% if clef != 'start' and clef != 'NumberOfDays' and clef != 'requirements' and clef != 'access_type'  %}
                                            <p>{{ clef }} : {{ provideur.data[clef] }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if provideur.data.start is defined %}
                                        start :{{ provideur.data['start'] }} <br>
                                    {% endif %}
                                    {% if provideur.data.end is defined %}
                                        end :{{ provideur.data['end'] }}
                                    {% endif %}
                                </td>
                                <td>
                                    ava : <span class="badge badge-success">{{ provideur.data['ava'] }}%</span><br>
                                    rel : <span class="badge badge-success">{{ provideur.data['rel'] }}%</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endfor %}


{#<P CLASS="western" STYLE="margin-bottom: 0.08in"><B>Cloud Compute#}
        {#(category: Compute)</B></P>#}
{#<P CLASS="western" STYLE="margin-bottom: 0.08in">Description:#}
    {#<FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://www.egi.eu/services/cloud-compute/">https://www.egi.eu/services/cloud-compute/</A></U></SPAN></FONT>#}
{#</P>#}
{#<UL>#}
    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Resource#}
	{#Centre:</SPAN></P>#}
        {#<UL>#}
            {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Cloud#}
		{#Compute</SPAN></P>#}
                {#<UL>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Number#}
			{#of virtual CPU cores:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Memory#}
			{#per core (GB): </SPAN>#}
                        {#</P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><FONT COLOR="#000000"><SPAN STYLE="background: #ffff00">Local#}
			{#disk (GB):</SPAN></FONT></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Public#}
			{#IP addresses:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Allocation</SPAN>#}
                            {#<SPAN STYLE="background: #ffff00">type:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Payment#}
			{#mode offer: Sponsored</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><FONT COLOR="#000000"><SPAN STYLE="background: #ffff00">Other#}
			{#technical requirements:</SPAN></FONT></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Duration:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Supported#}
			{#VOs:</SPAN></P>#}
                {#</UL>#}
            {#<LI><P STYLE="margin-bottom: 0.08in">VO ID card:#}
                {#</P>#}
            {#<LI><P STYLE="margin-bottom: 0.08in">VO-wide list:</P>#}
        {#</UL>#}
{#</UL>#}
{#<P STYLE="margin-left: 0.75in; margin-bottom: 0.08in"><BR><BR>#}
{#</P>#}
{#<P CLASS="western" STYLE="margin-bottom: 0.08in"><B>Cloud Container#}
        {#Compute (category: Compute)</B></P>#}
{#<P CLASS="western" STYLE="margin-bottom: 0.08in"><SPAN LANG="en-US">Description:#}
{#</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://www.egi.eu/services/cloud-container/"><SPAN LANG="en-US">https://www.egi.eu/services/cloud-container/</SPAN></A></U></SPAN></FONT><SPAN LANG="en-US">#}
{#</SPAN>#}
{#</P>#}
{#<UL>#}
    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Resource#}
	{#Centre:</SPAN></P>#}
        {#<UL>#}
            {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Cloud#}
		{#Compute</SPAN></P>#}
                {#<UL>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Number#}
			{#of virtual CPU cores:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Memory#}
			{#per core (GB): </SPAN>#}
                        {#</P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Local#}
			{#disk (GB): </SPAN>#}
                        {#</P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Public#}
			{#IP addresses:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Allocation</SPAN>#}
                            {#<SPAN STYLE="background: #ffff00">type:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Payment#}
			{#mode offer: Sponsored</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><FONT COLOR="#000000"><SPAN STYLE="background: #ffff00">Other#}
			{#technical requirements:</SPAN></FONT></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Duration:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Supported#}
			{#VOs:</SPAN></P>#}
                {#</UL>#}
        {#</UL>#}
{#</UL>#}
{#<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>#}
{#</P>#}
{#<P CLASS="western" STYLE="margin-bottom: 0.08in"><B>High-Throughput#}
        {#Compute</B><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>#}
            {#</FONT></FONT></FONT><B>(category: Compute)</B></P>#}
{#<P CLASS="western" STYLE="margin-bottom: 0.08in"><SPAN LANG="en-US">Description:#}
{#</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://www.egi.eu/services/high-throughput-compute/"><SPAN LANG="en-US">https://www.egi.eu/services/high-throughput-compute/</SPAN></A></U></SPAN></FONT><SPAN LANG="en-US">#}
{#</SPAN>#}
{#</P>#}
{#<UL>#}
    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Resource#}
	{#Center:</SPAN></P>#}
        {#<UL>#}
            {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">High-Throughput#}
		{#Compute</SPAN></P>#}
                {#<UL>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Guaranteed#}
			{#computing time [HEPSPEC-hours]: </SPAN>#}
                        {#</P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Opportunistic#}
			{#computing time [HEPSPEC-hours]:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Max#}
			{#job duration [hours]:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Min#}
			{#local storage [GB] (scratch space per each core used by the job):</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Max#}
			{#number of cores per node:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Min#}
			{#physical memory per core [GB]:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Middleware:#}
			{#</SPAN>#}
                        {#</P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><FONT COLOR="#000000"><SPAN STYLE="background: #ffff00">Other#}
			{#technical requirements:</SPAN></FONT></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Duration:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Payment#}
			{#mode offer: Sponsored</SPAN></P>#}
                {#</UL>#}
            {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Allocation</SPAN>#}
                    {#<SPAN STYLE="background: #ffff00">type:  </SPAN>#}
                {#</P>#}
            {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Supported#}
		{#VOs:</SPAN>	</P>#}
            {#<LI><P STYLE="margin-bottom: 0.08in">VO ID card:#}
                {#</P>#}
        {#</UL>#}
{#</UL>#}
{#<P STYLE="margin-left: 1.25in; margin-bottom: 0.08in"><BR><BR>#}
{#</P>#}
{#<P CLASS="western" STYLE="margin-bottom: 0.08in"><B>Online Storage#}
        {#(category: Storage)</B></P>#}
{#<P CLASS="western" STYLE="margin-bottom: 0.08in"><SPAN LANG="en-US">Description:#}
{#</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://www.egi.eu/services/online-storage/"><SPAN LANG="en-US">https://www.egi.eu/services/online-storage/</SPAN></A></U></SPAN></FONT></P>#}
{#<P LANG="en-US" STYLE="margin-left: 1.25in; margin-bottom: 0.08in"><BR><BR>#}
{#</P>#}
{#<UL>#}
    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Resource#}
	{#Center:</SPAN></P>#}
        {#<UL>#}
            {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Online#}
		{#Storage</SPAN></P>#}
                {#<UL>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Guaranteed#}
			{#storage capacity [TB]: </SPAN>#}
                        {#</P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Opportunistic#}
			{#storage capacity [TB]:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Standard#}
			{#interfaces supported<A CLASS="sdfootnoteanc" NAME="sdfootnote1anc" HREF="#sdfootnote1sym"><SUP>1</SUP></A>:#}
			{#</SPAN>#}
                        {#</P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><FONT COLOR="#000000"><SPAN STYLE="background: #ffff00">Storage#}
			{#technology<A CLASS="sdfootnoteanc" NAME="sdfootnote2anc" HREF="#sdfootnote2sym"><SUP>2</SUP></A>:</SPAN></FONT></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><FONT COLOR="#000000"><SPAN STYLE="background: #ffff00">Other#}
			{#technical requirements:</SPAN></FONT></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Duration:</SPAN></P>#}
                    {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Payment#}
			{#mode offer: Sponsored</SPAN></P>#}
                {#</UL>#}
            {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Allocation</SPAN>#}
                    {#<SPAN STYLE="background: #ffff00">type:  </SPAN>#}
                {#</P>#}
            {#<LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">Supported#}
		{#VOs:</SPAN>	</P>#}
            {#<LI><P STYLE="margin-bottom: 0.08in">VO ID card:#}
                {#</P>#}
        {#</UL>#}
{#</UL>#}
<P STYLE="margin-left: 0.75in; margin-bottom: 0.08in"><BR><BR>
</P>
<P STYLE="margin-left: 0.75in; margin-bottom: 0.08in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The Services are
    supported by additional services:
</P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">Accounting<A CLASS="sdfootnoteanc" NAME="sdfootnote3anc" HREF="#sdfootnote3sym"><SUP>3</SUP></A></P>
    <LI><P STYLE="margin-bottom: 0.08in">Service Monitoring<A CLASS="sdfootnoteanc" NAME="sdfootnote4anc" HREF="#sdfootnote4sym"><SUP>4</SUP></A>
            (operational only)
        </P>
</UL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">Note: Please note
    that following services are not provided by EGI Foundation:</P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">Monitoring of <SPAN STYLE="background: #ffff00">[VO
	name]</SPAN></P>
    <LI><P STYLE="margin-bottom: 0.08in">Monitoring of services provided
            by the Customer on agreed resources</P>
</UL>

<DIV ID="sdfootnote1">
    <P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote1sym" HREF="#sdfootnote1anc">1</A><SUP>	</SUP><SPAN LANG="en-US">
	CDMI, POSIX, SWIFT, etc.</SPAN></P>
</DIV>

<DIV ID="sdfootnote2">
    <P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote2sym" HREF="#sdfootnote2anc">2</A><SUP>	</SUP><SPAN LANG="en-US">
	DPM, dCache, STORM,  etc.</SPAN></P>
</DIV>
<DIV ID="sdfootnote3">
    <P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote3sym" HREF="#sdfootnote3anc">3</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="http://accounting.egi.eu/"><SPAN LANG="en-US">http://accounting.egi.eu/</SPAN></A></U></SPAN></FONT><SPAN LANG="en-US">
	</SPAN>
    </P>
</DIV>
<DIV ID="sdfootnote4">
    <P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote4sym" HREF="#sdfootnote4anc">4</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="http://argo.egi.eu/"><SPAN LANG="en-US">http://argo.egi.eu/</SPAN></A></U></SPAN></FONT><SPAN LANG="en-US">
	</SPAN>
    </P>
</DIV>


<OL START=2>
    <LI><H1 CLASS="western"><A NAME="_Toc459031776"></A>Service hours
            and exceptions</H1>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The Services operate
    during the following hours: twenty-four (24) hours a day, seven (7)
    days a week, three hundred sixty-five (365) days a year.
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The following
    exceptions apply:</P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">Planned maintenance windows or
            service interruptions (“scheduled downtimes”<A CLASS="sdfootnoteanc" NAME="sdfootnote5anc" HREF="#sdfootnote5sym"><SUP>5</SUP></A>)
            will be notified via e-mail in a timely manner i.e. 24 hours before
            the start of the outage<A CLASS="sdfootnoteanc" NAME="sdfootnote6anc" HREF="#sdfootnote6sym"><SUP>6</SUP></A>.
        </P>
    <LI><P STYLE="margin-bottom: 0.08in">Downtime periods exceeding 24
            hours need justification.</P>
</UL>
<OL START=3>
    <LI><H1 CLASS="western"><A NAME="_Toc459031777"></A>Support</H1>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">Support is provided
    via EGI Service Desk<A CLASS="sdfootnoteanc" NAME="sdfootnote7anc" HREF="#sdfootnote7sym"><SUP>7</SUP></A>.
    Access requires a valid X.509 or the login via a EGI SSO account<A CLASS="sdfootnoteanc" NAME="sdfootnote8anc" HREF="#sdfootnote8sym"><SUP>8</SUP></A>.
    Support is available between:</P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">Monday to Friday.</P>
    <LI><P STYLE="margin-bottom: 0.08in">From 9:00 to 17:00 in the time
            zone of the relevant Resource Centres.</P>
</UL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">Service times always
    apply with the exception of public holidays in the country of the
    supporting Resource Centres.</P>
<OL>
    <OL>
        <LI><H2 CLASS="western"><A NAME="_Toc403992926"></A><A NAME="_Toc459031778"></A>
                Incident handling</H2>
    </OL>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">Incidents will be
    handled according to the Quality of Support level that is estimated
    according to the impact of the outage or service quality degradation.
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The Quality of
    Support in this Agreement has level: <B>Medium<A CLASS="sdfootnoteanc" NAME="sdfootnote9anc" HREF="#sdfootnote9sym"><SUP>9</SUP></A></B></P>
<CENTER>
    <TABLE WIDTH=369 CELLPADDING=7 CELLSPACING=0>
        <COL WIDTH=183>
        <COL WIDTH=155>
        <TR VALIGN=TOP>
            <TD WIDTH=183 BGCOLOR="#95b3d7" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><B>Incident
                        priority</B></P>
            </TD>
            <TD WIDTH=155 BGCOLOR="#95b3d7" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><B>Response
                        time</B></P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" STYLE="margin-left: 0.39in; text-indent: -0.39in">
                    Less urgent</P>
            </TD>
            <TD WIDTH=155 BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">5
                    working days</P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" STYLE="margin-left: 0.39in; text-indent: -0.39in">
                    Urgent</P>
            </TD>
            <TD WIDTH=155 BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">5
                    working days</P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" STYLE="margin-left: 0.39in; text-indent: -0.39in">
                    Very Urgent,</P>
            </TD>
            <TD WIDTH=155 BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">1
                    working day</P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">Top
                    Priority</P>
            </TD>
            <TD WIDTH=155 BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">1
                    working day</P>
            </TD>
        </TR>
    </TABLE>
</CENTER>


<DIV ID="sdfootnote5">
    <P CLASS="sdfootnote-western" ><A CLASS="sdfootnotesym" NAME="sdfootnote5sym" HREF="#sdfootnote5anc">5</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://wiki.egi.eu/wiki/GOCDB/Input_System_User_Documentation#Downtimes"><SPAN LANG="en-US">https://wiki.egi.eu/wiki/GOCDB/Input_System_User_Documentation#Downtimes</SPAN></A></U></SPAN></FONT></P>
</DIV>
<DIV ID="sdfootnote6">
    <P CLASS="sdfootnote-western" ><A CLASS="sdfootnotesym" NAME="sdfootnote6sym" HREF="#sdfootnote6anc">6</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="http://goc.egi.eu/"><SPAN LANG="pl-PL">http://goc.egi.eu/</SPAN></A></U></SPAN></FONT></P>
</DIV>
<DIV ID="sdfootnote7">
    <P CLASS="sdfootnote-western" ><A CLASS="sdfootnotesym" NAME="sdfootnote7sym" HREF="#sdfootnote7anc">7</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="http://helpdesk.egi.eu/"><SPAN LANG="pl-PL">http://helpdesk.egi.eu/</SPAN></A></U></SPAN></FONT></P>
</DIV>
<DIV ID="sdfootnote8">
    <P CLASS="sdfootnote-western" ><A CLASS="sdfootnotesym" NAME="sdfootnote8sym" HREF="#sdfootnote8anc">8</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://www.egi.eu/sso/"><SPAN LANG="en-US">https://www.egi.eu/sso/</SPAN></A></U></SPAN></FONT></P>
</DIV>
<DIV ID="sdfootnote9">
    <P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote9sym" HREF="#sdfootnote9anc">9</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://wiki.egi.eu/wiki/FAQ_GGUS-QoS-Levels"><SPAN LANG="en-US">https://wiki.egi.eu/wiki/FAQ_GGUS-QoS-Levels</SPAN></A></U></SPAN></FONT><SPAN LANG="en-US">
	</SPAN>
    </P>
</DIV>


<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in">so the incidents,
    based on their priority will be responded to with the following
    response times:</P>
<CENTER>
    <TABLE CELLPADDING=7 CELLSPACING=0>
        <TR VALIGN=TOP>
            <TD  BGCOLOR="#95b3d7" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><B>Incident
                        priority<A CLASS="sdfootnoteanc" NAME="sdfootnote10anc" HREF="#sdfootnote10sym"><SUP>10</SUP></A></B></P>
            </TD>
            <TD BGCOLOR="#95b3d7" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><B>Response
                        time</B></P>
            </TD>
            <TD BGCOLOR="#95b3d7" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><B>Comment</B></P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=114 BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" STYLE="margin-left: 0.39in; text-indent: -0.39in">
                    Less urgent</P>
            </TD>
            <TD BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">5
                    working days</P>
            </TD>
            <TD  BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">wishes
                    and enhancements that are &quot;nice to have&quot;</P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" STYLE="margin-left: 0.39in; text-indent: -0.39in">
                    Urgent</P>
            </TD>
            <TD BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">5
                    working days</P>
            </TD>
            <TD BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">service
                    degraded; work-around available</P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD  BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" STYLE="margin-left: 0.39in; text-indent: -0.39in">
                    Very Urgent</P>
            </TD>
            <TD  BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">1
                    working day</P>
            </TD>
            <TD  BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">service
                    degraded; no work-around available</P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD  BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">Top
                    Priority</P>
            </TD>
            <TD  BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">1
                    working day</P>
            </TD>
            <TD  BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">service
                    interrupted; needs to be addressed as soon as possible</P>
            </TD>
        </TR>
    </TABLE>
</CENTER>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0.08in"><FONT COLOR="#4f81bd"><FONT SIZE=2><B>Table
                1. Response times to incidents according to the incident priority of
                “Medium” services</B></FONT></FONT></P>
<OL>
    <OL START=2>
        <LI><H2 CLASS="western"><A NAME="_Toc459031779"></A>Service
                requests</H2>
    </OL>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">In addition to
    resolving incidents, standard service requests
    (<FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://wiki.egi.eu/wiki/EGI_Service_requests">https://wiki.egi.eu/wiki/EGI_Service_requests</A></U></SPAN></FONT>)
    will be fulfilled through the defined support channels in the same
    way as incidents. Service requests are classified as “Less urgent”.
</P>
<OL START=4>
    <LI><H1 CLASS="western"><A NAME="_Toc403992928"></A><A NAME="_Toc459031780"></A>
            Service level targets</H1>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><B>Monthly
        Availability </B>
</P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">Defined as the ability of a
            service to fulfil its intended function at a specific time or over a
            calendar month.
        </P>
    <LI><P STYLE="margin-bottom: 0.08in">Minimum (as an average
            percentage per month):
        </P>
        <UL>
            <LI><P STYLE="margin-bottom: 0.08in">Service [name]: <SPAN STYLE="background: #ffff00">XX%</SPAN></P>
                <UL>
                    <LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">resource
			provider 1: XX%</SPAN>
                        </P>
                    <LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">resource
			provider 2: XX%</SPAN>
                        </P>
                </UL>
            <LI><P STYLE="margin-bottom: 0.08in">Service [name]: <SPAN STYLE="background: #ffff00">XX%</SPAN></P>
                <UL>
                    <LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">resource
			provider 1: XX%</SPAN>
                        </P>
                    <LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">resource
			provider 2: XX%</SPAN>
                        </P>
                </UL>
        </UL>
</UL>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><B>Monthly
        Reliability</B></P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">Defined as the ability of a
            service to fulfil its intended function at a specific time or over a
            calendar month, excluding scheduled maintenance periods.
        </P>
    <LI><P STYLE="margin-bottom: 0.08in">Minimum (as an average
            percentage per month):
        </P>
        <UL>
            <LI><P STYLE="margin-bottom: 0.08in">Service [name]: <SPAN STYLE="background: #ffff00">XX%</SPAN></P>
                <UL>
                    <LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">resource
			provider 1: XX%</SPAN>
                        </P>
                    <LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">resource
			provider 2: XX%</SPAN>
                        </P>
                </UL>
            <LI><P STYLE="margin-bottom: 0.08in">Service [name]: <SPAN STYLE="background: #ffff00">XX%</SPAN></P>
                <UL>
                    <LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">resource
			provider 1: XX%</SPAN>
                        </P>
                    <LI><P STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">resource
			provider 2: XX%</SPAN>
                        </P>
                </UL>
        </UL>
</UL>
<P STYLE="margin-left: 1in; margin-bottom: 0.08in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><B>Quality of
        Support level</B></P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">Medium (Section 3)</P>
</UL>
<OL START=5>
    <LI><H1 CLASS="western"><A NAME="_Toc403992929"></A><A NAME="_Toc459031781"></A>
            Limitations and constraints</H1>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The Services
    provisioning is subject to the following limitations and constraints.
</P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">Support is provided in English.</P>
    <LI><P STYLE="margin-bottom: 0.08in">Availability and Reliability
            calculations are based on the Service Monitoring operational
            results.
        </P>
    <LI><P STYLE="margin-bottom: 0.08in">Failures in VO monitoring are
            not considered as SLA violations.
        </P>
    <LI><P STYLE="margin-bottom: 0.08in">Downtimes needed to ensure the
            security of the Service issues are not considered Agreement
            violations.</P>
    <LI><P STYLE="margin-bottom: 0.08in">Failures of resource provider
            not being part of EGI production infrastructure are not considered
            as Agreement violations.
        </P>
    <LI><P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0.14in">Force
            Majeure. A party shall not be liable for any failure of or delay in
            the performance of this Agreement for the period that such failure
            or delay is due to causes beyond its reasonable control. Means  any
        </P>
        <UL>
            <LI><P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0.14in">fire,
                    flood,  earthquake  or  natural phenomena,
                </P>
            <LI><P CLASS="western" ALIGN=LEFT STYLE="margin-bottom: 0.14in">war,
                    embargo, riot, civil disorder, rebellion, revolution</P>
        </UL>
</UL>
<P CLASS="western" ALIGN=LEFT STYLE="margin-left: 0.75in; margin-bottom: 0.14in">
    which is beyond the Provider's control, or any other causes beyond
    the Provider's control</P>
<OL START=6>
    <LI><H1 CLASS="western"><A NAME="_Toc459031782"></A><A NAME="_Toc403992930"></A><A NAME="_Ref309554506"></A><A NAME="_Ref309554809"></A><A NAME="_Ref309554812"></A><A NAME="_Ref309554813"></A><A NAME="_Ref309554814"></A><A NAME="_Ref309554815"></A><A NAME="_Ref309566622"></A>
            Communication, reporting and escalation</H1>
        <OL>
            <LI><H2 CLASS="western"><A NAME="_Toc403992931"></A><A NAME="_Toc459031783"></A>
                    General communication</H2>
        </OL>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The following
    contacts will be generally used for communications related to the
    service in the scope of this Agreement.</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<TABLE  CELLPADDING=7 CELLSPACING=0>
    <TR VALIGN=TOP>
        <TD BGCOLOR="#b8cce4" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><B>Customer
                    contact</B></P>
        </TD>
        <TD BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">[name]</SPAN></P>
            <P CLASS="western" STYLE="margin-bottom: 0.08in"><SPAN STYLE="background: #ffff00">[email]</SPAN><SPAN STYLE="background: #ffff00">
			</SPAN>
            </P>
            <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><SPAN STYLE="background: #ffff00">[title]</SPAN></P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD  BGCOLOR="#b8cce4" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><B>EGI
                    Foundation contact</B></P>
        </TD>
        <TD  BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" STYLE="margin-bottom: 0.08in"><SPAN LANG="it-IT">Małgorzata
			Krakowian</SPAN></P>
            <P CLASS="western" STYLE="margin-bottom: 0.08in"><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="mailto:sla@mailman.egi.eu"><SPAN LANG="it-IT">sla@mailman.egi.eu</SPAN></A></U></SPAN></FONT><SPAN LANG="it-IT">
			</SPAN>
            </P>
            <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">SLA
                Coordinator at EGI Foundation
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD  BGCOLOR="#b8cce4" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><B>Service
                    Support contact</B></P>
        </TD>
        <TD  BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2">See
                Section 3</P>
        </TD>
    </TR>
</TABLE>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<OL>
    <OL START=2>
        <LI><H2 CLASS="western"><A NAME="_Toc403992932"></A><A NAME="_Toc459031784"></A>
                Regular reporting</H2>
    </OL>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">As part of the
    fulfilment of this Agreement and provisioning of the service, the
    following reports will be provided:</P>
<TABLE WIDTH=100% CELLPADDING=7 CELLSPACING=0>
    <COL WIDTH=51*>
    <COL WIDTH=51*>
    <COL WIDTH=51*>
    <COL WIDTH=51*>
    <COL WIDTH=51*>
    <TR VALIGN=TOP>
        <TD WIDTH=20% BGCOLOR="#b8cce4" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Report
                        title</B></FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#b8cce4" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Contents</B></FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#b8cce4" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Frequency</B></FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#b8cce4" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Produced
                        by</B></FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#b8cce4" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=JUSTIFY STYLE="widows: 2; orphans: 2"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Delivery</B></FONT></P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt">Services
                    Performance Report</FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt">The
                    document provides the overall assessment of service performance
                    (per month) and SLA target performance achieved during last 6
                    months</FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt">Every
                    six months</FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt">Provider</FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt">Email
                    to the Customer</FONT></P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt">Scientific
                    Publications report</FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt">The
                    document provides list of scientific publications benefiting from
                    the Service.</FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt">Yearly
                    and with the Agreement ending.</FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt">Customer</FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt">During
                    satisfaction review</FONT></P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="background: #ffff00">Platform
			Service report</SPAN></FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="background: #ffff00">The
			document provides usage records (resources used, users) of the
			Customer service during last 6 months</SPAN></FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="background: #ffff00">Yearly
			and with the Agreement ending.</SPAN></FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="background: #ffff00">Customer</SPAN></FONT></P>
        </TD>
        <TD WIDTH=20% BGCOLOR="#ffffff" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P CLASS="western" ALIGN=LEFT><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="background: #ffff00">During
			satisfaction review</SPAN></FONT></P>
        </TD>
    </TR>
</TABLE>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in">All reports shall
    follow predefined templates<A CLASS="sdfootnoteanc" NAME="sdfootnote11anc" HREF="#sdfootnote11sym"><SUP>11</SUP></A>.
</P>


<DIV ID="sdfootnote11">
    <P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote11sym" HREF="#sdfootnote11anc">11</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://documents.egi.eu/document/2748"><SPAN LANG="en-US">https://documents.egi.eu/document/2748</SPAN></A></U></SPAN></FONT><SPAN LANG="en-US">
	</SPAN>
    </P>
</DIV>

<OL>
    <OL START=3>
        <LI><H2 CLASS="western"><A NAME="_Toc403992933"></A><A NAME="_Toc459031785"></A>
                Violations</H2>
    </OL>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The Provider commits
    to inform the Customer, if this Agreement is violated or violation is
    anticipated. The following rules are agreed for communication in the
    event of violation:</P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">In case of violations of the
            Services targets for three consecutive months, the Provider will
            provide justifications to the Customer.
        </P>
        <UL>
            <LI><P STYLE="margin-bottom: 0.08in">In case of unavailability of
                    the Resource Provider to provide the service, the Provider will
                    search for a new Resource Provider and support migration.
                </P>
        </UL>
    <LI><P STYLE="margin-bottom: 0.08in">The Customer will notify the
            supporting Resource Centres in case of suspected violation via the
            EGI Service Desk (Section 3). The case will be analysed to identify
            the cause and verify the violation.
        </P>
</UL>
<P STYLE="margin-left: 0.75in; margin-bottom: 0.08in"><BR><BR>
</P>
<OL>
    <OL START=4>
        <LI><H2 CLASS="western"><A NAME="_Toc403992934"></A><A NAME="_Toc459031786"></A>
                Escalation and complaints</H2>
    </OL>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">For escalation and
    complaints (<SPAN STYLE="font-weight: normal">A customer complaint is
a customer's expression of dissatisfaction with an EGI service,
either orally or in writing.</SPAN>), the Provider contact (section
    6.1) point shall be used, and the following rules apply.</P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">In case of repeated violation
            of the Services targets for four consecutive months, a review of the
            Agreement will take place involving the parties of the Agreement.</P>
    <LI><P STYLE="margin-bottom: 0.08in">Complaints or concerns about
            the Services provided should be directed to the Provider contact who
            will promptly address these concerns. Should the Customer still feel
            dissatisfied, about either the result of the response or the
            behaviour of the supporting Resource Centres, <FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="mailto:complaints@egi.eu">complaints@egi.eu</A></U></SPAN></FONT>
            should be informed.
        </P>
</UL>
<OL START=7>
    <LI><H1 CLASS="western"><A NAME="_Toc403992935"></A><A NAME="_Toc459031787"></A>
            Information security and data protection</H1>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The following rules
    for information security and data protection related to the Service
    apply.</P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">Assertion of absolute security
            in IT systems is impossible. The Provider is making every effort to
            maximize security level of users’ data and minimalize possible
            harm in the event of an incident.</P>
    <LI><P STYLE="margin-bottom: 0.08in">The Provider will define and
            abide by an information security and data <BR>protection policy
            related to the service being provided.
        </P>
    <LI><P STYLE="margin-bottom: 0.08in">The parties of the Agreement
            will meet all requirements of any relevant policy or procedure of
            the Provider<A CLASS="sdfootnoteanc" NAME="sdfootnote12anc" HREF="#sdfootnote12sym"><SUP>12</SUP></A>
            and will comply with the applicable national legislations.</P>
</UL>


<DIV ID="sdfootnote12">
    <P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote12sym" HREF="#sdfootnote12anc">12</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://www.egi.eu/about/policy/policies_procedures.html"><SPAN LANG="en-US">https://www.egi.eu/about/policy/policies_procedures.html</SPAN></A></U></SPAN></FONT></P>
</DIV>

<OL START=8>
    <LI><H1 CLASS="western"><A NAME="_Toc459031788"></A>Responsibilities
        </H1>
        <OL>
            <LI><H2 CLASS="western"><A NAME="_Toc459031789"></A><A NAME="_Toc403992936"></A>
                    Of the Provider</H2>
        </OL>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">Additional
    responsibilities of the Provider are as follows.</P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in">The Provider adheres to all
            applicable operational and security policies and procedures<A CLASS="sdfootnoteanc" NAME="sdfootnote13anc" HREF="#sdfootnote13sym"><SUP>13</SUP></A>
            and to other policy documents referenced therein.</P>
    <LI><P STYLE="margin-bottom: 0.08in">The Provider allows monitoring
            of the Service in order to measure the fulfilment of the agreed
            service level targets.</P>
    <LI><P STYLE="margin-bottom: 0.08in">The Provider retains the right
            to introduce changes in how the Service is provided, in which case
            the Provider will promptly inform the Customer and update the
            Agreement accordingly.</P>
</UL>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><BR><BR>
</P>
<OL>
    <OL START=2>
        <LI><H2 CLASS="western"><A NAME="_Toc403992937"></A><A NAME="_Toc459031790"></A>
                Of the Customer
            </H2>
    </OL>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The responsibilities
    of the Customer are:</P>
<UL>
    <LI><P STYLE="margin-bottom: 0.08in"><B>The customer facilitates the
                use of EGI acknowledgement by communicating to users the need of
                adding the following sentence in acknowledgement:  “This work used
                the EGI infrastructure with the dedicated support of </B><B><SPAN STYLE="background: #ffff00">[resource
	provider 1]</SPAN></B><B> </B><B>and </B><B><SPAN STYLE="background: #ffff00">[resource
	provider 2]</SPAN></B><B>” </B>
        </P>
    <LI><P STYLE="margin-bottom: 0.08in">The Customer will provide
            during Agreement review (yearly) list of scientific publications
            benefiting from the	 Service.</P>
    <LI><P STYLE="margin-bottom: 0.08in">The Customer must not share
            access credentials with anyone else.</P>
    <LI><P STYLE="margin-bottom: 0.08in">The data stored in the system
            by the Customer must not cause any legal violation due to the
            content type (such as copyright infringement, dual use, illegal
            material).
        </P>
    <LI><P STYLE="margin-bottom: 0.08in">The use must be consistent with
            the Acceptable Use Policy<A CLASS="sdfootnoteanc" NAME="sdfootnote14anc" HREF="#sdfootnote14sym"><SUP>14</SUP></A>
            of the Service.</P>
    <LI><P STYLE="margin-bottom: 0.08in">The Customer will notify the
            Provider in case the actual amount of the Service used results in
            being under- or over-estimated. The Customer will request an update
            of the Agreement to ensure optimal usage of the Service.
        </P>
    <LI><P STYLE="margin-bottom: 0.08in">The Customer will create one or
            more Virtual Organizations (VOs) to define the group of users
            entitled to access the Service. Information about the VO will be
            regularly updated in EGI Operations Portal<A CLASS="sdfootnoteanc" NAME="sdfootnote15anc" HREF="#sdfootnote15sym"><SUP>15</SUP></A>.</P>
    <LI><P STYLE="margin-bottom: 0.08in">The Customer must request EGI
            Service Desk support<A CLASS="sdfootnoteanc" NAME="sdfootnote16anc" HREF="#sdfootnote16sym"><SUP>16</SUP></A>
            to enable assigning tickets with appropriate VO name.</P>
    <LI><P STYLE="margin-bottom: 0.08in">When applicable, the Customer
            is responsible of ensuring that the Virtual Machine images endorsed
            and listed in the AppDB<A CLASS="sdfootnoteanc" NAME="sdfootnote17anc" HREF="#sdfootnote17sym"><SUP>17</SUP></A>
            VO image list are properly maintained and updated.
        </P>
</UL>

<DIV ID="sdfootnote13">
    <P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote13sym" HREF="#sdfootnote13anc">13</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://www.egi.eu/about/policy/policies_procedures.html"><SPAN LANG="en-US">https://www.egi.eu/about/policy/policies_procedures.html</SPAN></A></U></SPAN></FONT></P>
</DIV>
<DIV ID="sdfootnote14">
    <P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote14sym" HREF="#sdfootnote14anc">14</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://documents.egi.eu/document/74"><SPAN LANG="en-US">https://documents.egi.eu/document/74</SPAN></A></U></SPAN></FONT></P>
</DIV>
<DIV ID="sdfootnote15">
    <P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote15sym" HREF="#sdfootnote15anc">15</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="http://operations-portal.egi.eu/"><SPAN LANG="en-US">http://operations-portal.egi.eu/</SPAN></A></U></SPAN></FONT><SPAN LANG="en-US">
	</SPAN>
    </P>
</DIV>
<OL START=9>
    <LI><H1 CLASS="western"><A NAME="_Toc459031791"></A><A NAME="_Toc403992938"></A>
            Review, extensions and termination</H1>
</OL>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The Services
    performance will be reviewed against the defined Service level
    targets according to Section 4. The Agreement will be annually
    reviewed until expiration.</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in"><A NAME="_GoBack"></A>
    If the Customer wishes to extend the duration after the Agreement
    termination date, an extension will be negotiated with the Provider.
</P>
<P CLASS="western" STYLE="margin-bottom: 0.08in">The Provider retains
    the right to introduce changes in the Service, in which case the
    Customer retains the right of terminating the Agreement.
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.08in; line-height: 115%; widows: 2; orphans: 2">
    The Agreement can be terminated at any time upon agreement of the
    parties. Amendments, comments and suggestions must be addressed to<B>
    </B>the Provider and the Customer according to Section 6.</P>

<DIV ID="sdfootnote10">
    <P CLASS="sdfootnote-western" ><A CLASS="sdfootnotesym" NAME="sdfootnote10sym" HREF="#sdfootnote10anc">10</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://wiki.egi.eu/wiki/FAQ_GGUS-Ticket-Priority"><SPAN LANG="en-US">https://wiki.egi.eu/wiki/FAQ_GGUS-Ticket-Priority</SPAN></A></U></SPAN></FONT><SPAN LANG="en-US">
	</SPAN>
    </P>
</DIV>
<DIV ID="sdfootnote16">
    <P CLASS="sdfootnote-western" ><A CLASS="sdfootnotesym" NAME="sdfootnote16sym" HREF="#sdfootnote16anc">16</A><SUP>	</SUP><SPAN LANG="en-US">
	</SPAN><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://wiki.egi.eu/wiki/FAQ_GGUS-New-Support-Unit"><SPAN LANG="en-US">https://wiki.egi.eu/wiki/FAQ_GGUS-New-Support-Unit</SPAN></A></U></SPAN></FONT></P>
</DIV>
<DIV ID="sdfootnote17">
    <P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote17sym" HREF="#sdfootnote17anc">17</A><SUP>	</SUP>
        <FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://appdb.egi.eu/">https://appdb.egi.eu/</A></U></SPAN></FONT></P>
</DIV>

{#<DIV TYPE=FOOTER>#}
    {#<TABLE WIDTH=616 CELLPADDING=7 CELLSPACING=0>#}
        {#<COL WIDTH=71>#}
        {#<COL WIDTH=517>#}
        {#<TR>#}
            {#<TD WIDTH=71 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">#}
                {#<P ALIGN=CENTER><IMG SRC="EGI_VO_SLA_template_v3_10-1-1_html_e02e719b.png" NAME="Picture 4" ALIGN=BOTTOM WIDTH=71 HEIGHT=56 BORDER=0></P>#}
            {#</TD>#}
            {#<TD WIDTH=517 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">#}
                {#<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 9pt">This#}
                            {#work by EGI Foundation is licensed under a </FONT></FONT>#}
                {#</P>#}
                {#<P ALIGN=CENTER><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="http://creativecommons.org/licenses/by/4.0/"><FONT SIZE=2 STYLE="font-size: 9pt">Creative#}
				{#Commons Attribution 4.0 International License</FONT></A></U></SPAN></FONT></P>#}
            {#</TD>#}
        {#</TR>#}
        {#<TR>#}
            {#<TD WIDTH=71 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">#}
                {#<P ALIGN=CENTER><IMG SRC="EGI_VO_SLA_template_v3_10-1-1_html_1ebaf89f.png" NAME="Picture 18" ALIGN=BOTTOM WIDTH=57 HEIGHT=57 BORDER=0></P>#}
            {#</TD>#}
            {#<TD WIDTH=517 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">#}
                {#<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 9pt">This#}
                            {#template is based on work, which was released under a Creative#}
                            {#Commons 4.0 Attribution License (CC BY 4.0). It is part of the#}
                            {#FitSM Standard family for lightweight IT service management,#}
                            {#freely available at </FONT></FONT><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="http://www.fitsm.eu/"><FONT SIZE=2 STYLE="font-size: 9pt">www.fitsm.eu</FONT></A></U></SPAN></FONT><FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 9pt">.</FONT></FONT></P>#}
                {#<P ALIGN=CENTER><BR>#}
                {#</P>#}
            {#</TD>#}
        {#</TR>#}
    {#</TABLE>#}
    {#<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>#}
    {#</P>#}
{#</DIV>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>#}

<footer>
    Page <span class="page"></span>
</footer>
</BODY>
</HTML>