{% extends 'base_bootstrap_4.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/metrics.min.css') }}">
{% endblock %}

{% block body %}
    <section id="homeSection">

        <article>
            <div class="card m-2">
                <div class="card-header">

                    <div class="card-title">
                        <H2>User metrics per {{ entity|upper }}</H2>
                    </div>
                </div>
                <div class="card-body">
                    {% include ":Metrics/templates:template_breadCrumbs_metricsReports.html.twig" %}

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="nav-item">
                            <a href="#table" class="text-primary nav-link active" aria-controls="table" id="tab-table" role="tab" data-toggle="tab">Table</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#chart" class="text-primary nav-link"  aria-controls="chart" id="tab-chart" role="tab" data-toggle="tab">Chart</a>
                        </li>
                        <li>

                            <form action="{{ path("toCsv") }}" method="post">
                                <input type="hidden" id="csv" name="csv" value="{{ csvExport }}">
                                <button type="submit" class="btn  btn-primary p-1"
                                        style="font-size: 14px;margin-left:15px;margin-top:5px;">
                                    CSV
                                </button>
                            </form>
                        </li>
                    </ul>
                    <div class="tab-content" style="width:100%;margin-bottom: 80px;margin-top:50px;">
                        <div role="tabpanel" class="tab-pane show active  fade m-2"   aria-labelledby="tab-table" id="table">
                            {% include ":Metrics/templates:template_tab_metricsReportsList.html.twig" %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade m-2"   aria-labelledby="tab-chart" id="chart">
                            <div id="UsersMetricschart_div"></div>
                            <div id="chart_div_png"></div>
                            <div class="dataCSV" style="display: none;">{{ csv }}</div>
                        </div>
                    </div>
                </div>

            </div>

        </article>

    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/metrics/metrics.min.js') }}"></script>

    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['line', 'corechart']}]}"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>

    <script>

        $(document).ready(function () {

            //build report list tab
            buildUsersMetricsTable();

            buildUserMetricsChart("TOP 10 {{ entity }}s Users Numbers");


        });
    </script>
{% endblock %}
