{% extends 'base_bootstrap_4.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/metrics.min.css') }}">
{% endblock %}

{% block body %}
    <section id="homeSection">

        <div id="flashes">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div role="alert" class="alert alert-{{ label }}">
                        {{ flash|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <article>
        <div class="card">


            <div class="card-header">
                <div class="card-title"><h2>User Number per {{ entity }} : History</h2></div>
            </div>


            <div class="card-body" style="overflow: auto">
                {% include ":Metrics/templates:template_breadCrumbs_metricsReports.html.twig" %}

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="nav-item">
                        <a href="#table" class="text-primary nav-link active" aria-controls="table" id="tab-table" role="tab" data-toggle="tab">Table</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a href="#chart" class="text-primary nav-link"  aria-controls="chart" id="tab-chart" role="tab" data-toggle="tab">Chart</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane show fade active m-2" aria-labelledby="tab-table"  id="table">
                        <table id="usersMetricsPerVoCaHistTable" cellspacing="0" width="100%"
                               class="table table-bordered table-striped table-condensed">
                            <thead>

                            <tr>
                                <th>{{ entity }}</th>
                                {% for key,voca in tabVOCA %}
                                    <th>{{ key }}</th>
                                {% endfor %}
                            </tr>
                            </thead>

                            <tbody>
                                <tr>

                                    {% set cpt = 0 %}
                                    {% for key,voca in tabVOCA %}
                                        {% if cpt == 0 %}
                                            <td>
                                                {{ name }}
                                            </td>
                                        {% endif %}
                                        <td>
                                            <span style="font-size:smaller;padding-right:20px; color:{{ tabDiff[key]["style"] }}">
                                                {{ tabDiff[key]["diff"] }}
                                            </span>

                                            <span class="float-right">
                                                {% if voca["total"] is defined %}
                                                    {{ voca["total"] }}
                                                {% else %}
                                                    N.A.
                                                {% endif %}
                                             </span>

                                        </td>
                                        {% set cpt = cpt +1 %}
                                    {% endfor %}
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div role="tabpanel" class="tab-pane fade m-2" aria-labelledby="tab-chart"  id="chart">

                        <div id="chart_div"></div>
                        <div id="chart_div_png"></div>

                    </div>

                </div>
            </div>
        </div>
        </article>
    </section>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/metrics/metrics.min.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

        //build the area chart
        buildUserPerMetricsHistoryChart("{{ csv }}", "{{ name }}");
    </script>
{% endblock %}
